{% extends 'admin/_admin.njk' %}

{% block pagecontent %}
	<h1>Users Registered for Quiz</h1>
	<div class="container">
		<fieldset>
			<legend>&nbsp;&nbsp;Registered Users: {{ users | length }}&nbsp;&nbsp;</legend><br/>
			{% for user in users %}
				<div class="card">
					<img src="{{ user.image }}" onerror="this.src='../assets/logo.jpeg'"/>
					<div class="details">
						<div title="{{ user.name }}" class="names">{{ user.name }}</div>
						<div title="{{ user.username }}" class="usernames">{{ user.username }}</div>
					</div>
					<button onclick="edit('{{ user.username }}')">Edit User</button>
				</div>
			{% endfor %}
		</fieldset>
	</div>
{% endblock %}

{% block customcss %}
	<style>
		.container {
			display: flex;
			justify-content: center;
		}

		fieldset {
			border:1px solid red;
			margin:auto 20px;
			box-shadow: 1px 1px 10px #d61f35 ;
			width: 90%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 20px;
		}
		.card {
			width:130px;
			height:160px;
			border: 2px solid;
			border-radius: 7px;
			padding: 10px 5px;
			margin: 10px;
			box-shadow: 1px  1px 10px  #777777 inset;
		}

		.card > img {
			border-radius:16px;
			height: 60px;
			width: 60px;
		}
		.details {
			margin: 10px 0 30px 0;
		}
		.names{
			height:15px;
			width:90px;
			color:#d0d0d0;
			font-size:13px;
			padding:1px 3px;
			margin:1px auto;
			overflow:hidden;
			text-overflow: ellipsis;
		}
		.usernames{
			height:15px;
			width:60px;
			font-size:11px;
			color:#777777;
			margin:1px auto;
			padding:1px 3px;
			overflow:hidden;
			text-overflow: ellipsis;
		}
		.card > button{
			font-size:12px;
			width:60%;
			padding:5px 7px;
			background-color: #d61f35;
			border-radius:2px;
			color:white;
			border:none;
		}
	</style>
{% endblock %}

{% block customjs %}
	<script>
		function edit(username) {
			window.location.href = `/admin/edit-user?username=${username}`;
		}
	</script>
{% endblock %}