{% extends '_base.njk' %}

{% set pagetitle = 'Instructions' %}
{% set thispage = 'instructions' %}

{% block pagecontent %}
	<div id="main-page">
		<h1> Event Information </h1>
		<ul>
			<li> <span style="color: var(--red);">Date/Time:</span> March 21, 2026, 5:00 PM </li>
			<li> <span style="color: var(--red);">Venue:</span> Technology Students' Gymkhana (Front Side) </li>
		</ul>
		<br>
		<h2 style="color: var(--red);" >Instructions</h2>
		<br>
		<ul>
			<li> You are requested to report to TSG on time. No extra time will be given for people who join in late. </li>
			<li> You are allowed to use a bicycle, but <span style="color: var(--red);">motor vehicles are not permitted</span>. </li>
			<li> At the event's start, you will be given a <span style="color: var(--red);">Team ID</span> and <span style="color: var(--red);">passcode</span> to login to the event portal. </li>
			<li> After logging in, you will see your first question, a riddle pointed towards a particular location, which will differ for each team. </li>
			<li> 
				At the location in question, some MASK members will be present. You will <span style="color: var(--red);">give your device</span> to them, and they will put the code for that location in it.<br>
				<p style="margin-left: 15px;">If you are at the correct location, you will get a riddle to answer; if you are at the wrong location, you will have to think again and go to another location.</p>
			</li>
			<li> For these riddles, you will get a drop-down menu which will contain all the options. </li>
			<li>While answering the riddle, if you answer incorrectly, you will have to <span style="color: var(--red);">wait two minutes</span> before you can respond again. <span style="color: var(--red);"><br>Note:</span> this is not the case for the location-based riddle.</li>
			<li> 
				You are allowed to use the Internet and online resources like Google, ChatGPT, etc.<br>
				<br>
				<p> <span style="color: var(--red);">Bonus:</span> There will be a MASK member wearing headphones and a brown pant roaming around the area of these locations. You will be eligible for additional prizes if you capture a clear picture of that member. To claim it, DM your team name and the photo to Joshua Raj (8885050793). Only the first three teams to claim are eligible for this prize. </p>
				<br>
			</li>
			<li> After you complete the hunt, you have to report back to TSG; only then will you be marked as &lsquo;finished&rsquo;. </li>
			<li> <span style="color: var(--red);">Note:</span> If you are found to have violated any rules, you can be subject to disqualification. </li>
			<br/>
		</ul>
		In case of any doubt, feel free to vist Gymkhana during the event. </li>
	</div>
{% endblock %}

{% block customcss %}
	<style>
		#main-page {
			margin: 20px auto;
			border: solid 2px var(--light-gray);
			border-radius: 10px;
			width: calc(min(80vw, 700px + 30vw, 1000px + 20vw));
			padding: 20px 10px;
			
			background-color: var(--abyss);
		}

		#main-page > h1 {
			color: var(--red);
		}

		#main-page > ul {
			width: 80%;
			margin: 10px auto;
		}

		#main-page > ul > li {
			text-align: left;
			margin: 5px;
		}

		r {
			color: var(--error-red);
		}
	</style>
{% endblock %}
