{% extends '_base.njk' %}

{% set pagetitle = 'Open Campus Anime Quiz' %}

{% block pagecontent %}
	{{ loadingscreen('main-page') }}
	<div id="main-page" style="display: none;">
		<div id="timer"></div>
		<div id="location">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20"
				height="18" viewBox="0 0 256 256" xml:space="preserve">
				<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
					transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
					<path
						d="M 45 0 C 27.677 0 13.584 14.093 13.584 31.416 c 0 4.818 1.063 9.442 3.175 13.773 c 2.905 5.831 11.409 20.208 20.412 35.428 l 4.385 7.417 C 42.275 89.252 43.585 90 45 90 s 2.725 -0.748 3.444 -1.966 l 4.382 -7.413 c 8.942 -15.116 17.392 -29.4 20.353 -35.309 c 0.027 -0.051 0.055 -0.103 0.08 -0.155 c 2.095 -4.303 3.157 -8.926 3.157 -13.741 C 76.416 14.093 62.323 0 45 0 z M 45 42.81 c -6.892 0 -12.5 -5.607 -12.5 -12.5 c 0 -6.893 5.608 -12.5 12.5 -12.5 c 6.892 0 12.5 5.608 12.5 12.5 C 57.5 37.202 51.892 42.81 45 42.81 z"
						style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #c10809; fill-rule: nonzero; opacity: 1;"
						transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
				</g>
			</svg>
			Raman Auditorium
		</div>
		<div id="content">
			<p class="quote"> Konnichiwa, minna-san!!! </p>
			<p> We, MASK, have returned with an Open Campus Quiz for everyone in IIT Kharagpur, from UG students to PG students (and even professors if interested). For the freshers, this will be an introductory event and for the all of our beloved patrons, this will be an experience you wouldn't want to miss. </p>
			<h3> What can you expect? </h3>
			<p> Showcasing various aspects of our society, this event has a lot of things packed, be it the mind-boggling quiz, specially-curated prizes or the various surprises packed just for you. </p>
			<h3> What are the questions from? </h3>
			<p> The questions are from a variety of popular anime, be it the never-ending One Piece or rom-coms like Oregairu, good ol' Death Note or popular new anime like Demon Slayer, Jujutsu Kaisen or Oshi No Ko. We have a vast collection which satisfies all kinds of fans. (Except maybe Samuel L. Jackson. I don't think we can give him what he wants.) </p>
			<p> For more info, check out the <a href="/information">Information</a> page. Stay tuned for more updates. </p>
			<p class="quote"> Limited Seats Only! Register Soon!!! </p>
		</div>
		<div id="button-container">
			<a href="/information" class="redirect-link"> Information </a>
			<a href="/live" class="redirect-link"> Quiz Portal </a>
			<a href="{{ '/profile' if loggedIn else '/login' }}" class="redirect-link"> {{ 'Profile' if loggedIn else
				'Login' }} </a>
		</div>
	</div>
{% endblock %}

{% block customjs %}
	<script>
		window.addEventListener('load', () => {
			const timerElement = document.querySelector('#timer');
			const timer = () => {
				let seconds, minutes, hours, days;
				const timeLeftInSeconds = Math.floor((new Date('2023-08-31T17:48:05+0000').getTime() - new Date().getTime()) / 1000);
				if (timeLeftInSeconds <= 0) {
					timerElement.innerHTML = `<a href="/live" class="start-quiz-button">
						Join the Quiz!!
					</a>`;
					return false;
				}
				seconds = (timeLeftInSeconds % 60).toLocaleString('en-us', { minimumIntegerDigits: 2 });
				minutes = (Math.floor(timeLeftInSeconds / 60) % 60).toLocaleString('en-us', { minimumIntegerDigits: 2 });
				hours = (Math.floor(timeLeftInSeconds / 3600) % 24).toLocaleString('en-us', { minimumIntegerDigits: 2 });
				days = (Math.floor(timeLeftInSeconds / 86400)).toLocaleString('en-us', { minimumIntegerDigits: 2 });
				timerElement.innerHTML = `${days}:${hours}:${minutes}:${seconds}`;
				setTimeout(timer, 1000);
				return true;
			};
			timer();
		});
	</script>
	{% block extrajs %}
	{% endblock %}
{% endblock %}

{% block customcss %}
	<style>
		#timer {
			color: color-mix(in hsl, var(--dark-red) 50%, var(--error-red) 70%);
			font-size: 2.5em;
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', fantasy, sans-serif;
			padding: 20px;
		}

		#location {
			color: var(--light-gray);
			font-size: 120%;
		}

		@keyframes spin {
			from {transform: translate(-50%, -50%) rotate(0);}
			to   {transform: translate(-50%, -50%) rotate(90deg);}
		}

		@property --brightness {
			syntax: '<number>';
			initial-value: 100%;
		}

		@keyframes glow {
			0% { --brightness: 0%; }
			1% { --brightness: 0%; }
			2% { --brightness: 0%; }
			3% { --brightness: 1%; }
			4% { --brightness: 2%; }
			5% { --brightness: 2%; }
			6% { --brightness: 4%; }
			7% { --brightness: 5%; }
			8% { --brightness: 6%; }
			9% { --brightness: 8%; }
			10% { --brightness: 10%; }
			11% { --brightness: 11%; }
			12% { --brightness: 14%; }
			13% { --brightness: 16%; }
			14% { --brightness: 18%; }
			15% { --brightness: 21%; }
			16% { --brightness: 23%; }
			17% { --brightness: 26%; }
			18% { --brightness: 29%; }
			19% { --brightness: 32%; }
			20% { --brightness: 35%; }
			21% { --brightness: 38%; }
			22% { --brightness: 41%; }
			23% { --brightness: 44%; }
			24% { --brightness: 47%; }
			25% { --brightness: 50%; }
			26% { --brightness: 53%; }
			27% { --brightness: 56%; }
			28% { --brightness: 59%; }
			29% { --brightness: 62%; }
			30% { --brightness: 65%; }
			31% { --brightness: 68%; }
			32% { --brightness: 71%; }
			33% { --brightness: 74%; }
			34% { --brightness: 77%; }
			35% { --brightness: 79%; }
			36% { --brightness: 82%; }
			37% { --brightness: 84%; }
			38% { --brightness: 86%; }
			39% { --brightness: 89%; }
			40% { --brightness: 90%; }
			41% { --brightness: 92%; }
			42% { --brightness: 94%; }
			43% { --brightness: 95%; }
			44% { --brightness: 96%; }
			45% { --brightness: 98%; }
			46% { --brightness: 98%; }
			47% { --brightness: 99%; }
			48% { --brightness: 100%; }
			49% { --brightness: 100%; }
			50% { --brightness: 100%; }
			51% { --brightness: 100%; }
			52% { --brightness: 100%; }
			53% { --brightness: 99%; }
			54% { --brightness: 98%; }
			55% { --brightness: 98%; }
			56% { --brightness: 96%; }
			57% { --brightness: 95%; }
			58% { --brightness: 94%; }
			59% { --brightness: 92%; }
			60% { --brightness: 90%; }
			61% { --brightness: 89%; }
			62% { --brightness: 86%; }
			63% { --brightness: 84%; }
			64% { --brightness: 82%; }
			65% { --brightness: 79%; }
			66% { --brightness: 77%; }
			67% { --brightness: 74%; }
			68% { --brightness: 71%; }
			69% { --brightness: 68%; }
			70% { --brightness: 65%; }
			71% { --brightness: 62%; }
			72% { --brightness: 59%; }
			73% { --brightness: 56%; }
			74% { --brightness: 53%; }
			75% { --brightness: 50%; }
			76% { --brightness: 47%; }
			77% { --brightness: 44%; }
			78% { --brightness: 41%; }
			79% { --brightness: 38%; }
			80% { --brightness: 35%; }
			81% { --brightness: 32%; }
			82% { --brightness: 29%; }
			83% { --brightness: 26%; }
			84% { --brightness: 23%; }
			85% { --brightness: 21%; }
			86% { --brightness: 18%; }
			87% { --brightness: 16%; }
			88% { --brightness: 14%; }
			89% { --brightness: 11%; }
			90% { --brightness: 10%; }
			91% { --brightness: 8%; }
			92% { --brightness: 6%; }
			93% { --brightness: 5%; }
			94% { --brightness: 4%; }
			95% { --brightness: 2%; }
			96% { --brightness: 2%; }
			97% { --brightness: 1%; }
			98% { --brightness: 0%; }
			99% { --brightness: 0%; }
			100% { --brightness: 0%; }
		}

		#content {
			--border-radius: 15px;
			--border-size: 3px;
			--border-color: color-mix(in hsl, var(--abyss), var(--red) var(--brightness));
			--border-bg: conic-gradient(
				var(--abyss), var(--border-color), 
				var(--abyss), var(--border-color), 
				var(--abyss), var(--border-color), 
				var(--abyss), var(--border-color),
				var(--abyss)
			);
			--padding: 10px;

			position: relative;
			overflow: hidden;
			width: calc(min(80vw, 700px + 30vw, 1000px + 20vw));
			margin: 20px auto;
			padding: calc(var(--padding) + var(--border-size));
			border-radius: var(--border-radius);
			display: inline-block;
			animation: glow 2s ease infinite;
		}

		#content::before {
			content: '';
			display: block;
			background: var(--border-bg);
			width: calc(min(80vw, 700px + 30vw, 1000px + 20vw) * 1.41421356237);
			padding-bottom: calc(min(80vw, 700px + 30vw, 1000px + 20vw) * 1.41421356237);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
			z-index: -2;
			animation: spin 2s ease-in-out infinite;
		  }

		  #content::after{
			content: '';
			position: absolute;
			inset: var(--border-size);
			background: var(--abyss);
			z-index: -1;
			border-radius: calc(var(--border-radius) - var(--border-size));
		  }

		#content > * {
			text-align: left;
			margin: 10px;
			margin: 20px;
		}

		#content h3 {
			color: var(--red);
			margin-block-start: 1.5em !important;
			margin-block-end: 1.5em !important;
		}

		.quote {
			color: var(--error-red);

			text-align: center !important;
			font-style: italic;
			font-size: 120%;
		}
		

		#button-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.redirect-link {
			display: block;

			margin: 5px 10px;
			border: solid 2px var(--red);
			border-radius: 7px;
			padding: 10px;

			background-color: var(--abyss);
			color: var(--red);

			font-weight: 300;
			text-decoration: none;
		}

		.redirect-link:active, .redirect-link:hover {
			background-color: var(--shadow-gray);
		}

		.start-quiz-button {
			border: solid 2px var(--light-gray);
			border-radius: 10px;
			padding: 10px;
			text-decoration: none;
			/* font-family: Ubuntu, Roboto, Arial, Open Sans, sans-serif; */
			background-color: var(--red);
			color: var(--off-white);
		}

		.start-quiz-button:hover {
			background-color: var(--abyss);
			color: var(--red);
		}
	</style>
{% endblock %}
