{% extends '_base.njk' %}

{% block pagecontent %}
	<h1> Coming Soon... </h1>
	<span style="font-size: 1.1em;"> Meanwhile, visit our <a href="https://kgpmask.club"> main website </a> </span>
{% endblock %}
