{% extends "_base.njk" %}

{% set thispage = 'login' %}
{% set pagetitle = 'Login' %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block pagecontent %}
	{% if error %}
		<div style="background-color:var(--red);color:var(--off-white);opacity:0.8" class="text">
			{{ error if error else 'Invalid username/password' }}
		</div>
	{% endif %}
	<h1>Login!</h1>
	<p>Click here to <a href="/signup" class="cool-class-name">register</a> if you don't have an account</p>
	<div class="form-container">
		<form>
			<input type="text" placeholder="Username" name="username" id="username">
			<input type="password" placeholder="Password" name="password" id="password">
			<button type="button" id="login-button">Login</button>
		</form>
	</div>

{% endblock %}

{% block customcss %}
	<style media="screen">
		h1 {
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			text-align: center;
		}
		.cool-class-name{
			color: var(--error-red);
		}
		.form-container {
			margin-top : 2rem;
			margin-bottom: 63rem;
			display: flex;
			justify-content: center;
		}
		form {
			min-height: auto;
			min-width: 28%;
			background-color: rgba(255, 255, 255, 0.13);
			position: absolute;
			border-radius: 10px;
			backdrop-filter: blur(5px);
			border: 2px solid rgba(255, 255, 255, 0.1);
			box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
			padding: 23px 25px;
		}
		form * {
			font-family: 'Poppins', sans-serif;
			color: #ffffff;
			letter-spacing: 0.5px;
			outline: none;
			border: none;
		}
		input {
			display: block;
			height: 50px;
			width: 90%;
			background-color: rgba(255, 255, 255, 0.07);
			border-radius: 12px;
			padding: 0 20px 4px;
			margin-top: 12px;
			font-size: 17px;

			font-weight: 300;
		}
		::placeholder{
			color: #e5e5e5;
			font-family: Ubuntu, Roboto, Arial, Open Sans, sans-serif;
			font-size: 20px;
		}
		button{
			margin-top: 19px;
			width: 75%;
			background-color: var(--red);
			color: white;
			padding: 15px 0;
			font-size: 18px;
			font-weight: 600;
			border-radius: 12px;
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block customjs %}
<script>
	function login () {
		const username = document.getElementById('username').value.trim();
		const password = document.getElementById('password').value.trim();
		if (!username) return alert('No username provided');
		if (!password) return alert('No password provided');
		document.getElementById('login-button').disabled = true;
		axios.post('/login', { username, password })
			.then(() => window.location.href = '/')
			.catch(err => {
				console.log(err);
				document.getElementById('login-button').disabled = false;
				return alert(err.response.data.errors[0]);
			});
	}

	window.onload = () => {
		document.getElementById('login-button').onclick = login;
		document.getElementsByClassName('form-container')[0].addEventListener('keyup', event => {
			if (event.key === 'Enter') {
				document.getElementById('login-button').click();
			}
		});
		document.getElementById('username').focus();
	}
</script>
{% endblock %}

