{% extends '_base.njk' %}
{% import '_form.njk' as forms %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block pagecontent %}
	{% call forms.form() %}
        {{ forms.heading('h1','Login') }}
        {{ forms.field('username','Username')}}
        {{ forms.field('email','Email')}}
        {{ forms.field('password','Password')}}
        {{ forms.field('confirm-password','Confirm Password')}}
        {{ forms.datetime('dob','DOB')}}
        {{ forms.singlecheck('remember-me','RememberMe','checked')}}
		{# {{ forms.heading('h2,'Or')}} #}
        {{forms.button('register-button','Register', 'function()')}}
	{% endcall %}
{% endblock %}

{% block customcss %}
	{{ forms.formCss() }}
	<style>
		{# Extra Styles #}
	</style>
{% endblock %}

{% block customjs %}
	{{ forms.formFunction() }}
	<script>
		axios.defaults.withCredentials = true;
		axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';

		{# Other Functions #}
	</script>
{% endblock %}