{% extends "_base.njk" %}

{% set thispage = 'signup' %}
{% set pagetitle = 'Signup' %}

{% block customjs %}
	<script>
		function registerUser () {
			const name = document.getElementById('name').value.trim();
			const email = document.getElementById('email').value.trim();
			const roll = document.getElementById('roll').value.trim();
			const username = document.getElementById('username').value.trim();
			const password = document.getElementById('password').value.trim();
			const image = document.getElementById('image').value.trim();
			const phone = document.getElementById('phone').value.trim();
			const userID = document.getElementById('id').value.trim();
			const data = {
				"name": name,
				"email": email,
				"roll": roll,
				"username": username,
				"password": password,
				"image": image,
				"phone": phone,
				"userID": userID
			};
			axios.post('/signup', data)
				.then(() => window.location.href = '/')
				.catch(e => {
					console.log(e);
					document.getElementById('submit').disabled = true;
					return alert(e.response.data);
				});	
		}
	</script>
{% endblock %}

{% block pagecontent %}
	<h1>Signup</h1>
	<p>Click here to <a href="/login" class="cool-class-name">login</a> if you already have an account</p>
	<div class="form-container">
		<form action='/' method='post' id="signup">
			<div id="page1" style="display:block;">
				<input type= "text" placeholder="Name" id="name">
				<input type="text" placeholder="Roll Number" id="roll">
				<input type ="text" placeholder="phone" id = "phone">
				<input type="email" placeholder="Email Address" id="email">
				<input type = "text" placeholder="username" id ="username">
				<input type = "password" placeholder="password" id = "password">
				<input type = "text" placeholder = "image" id = "image">
				<input type = 'text' placeholder = 'id' id = 'id'>
			</div>
			<button type="button" onclick="registerUser()" id = "submit">submit</button>
		</form>
	</div>

{% endblock %}


{% block customcss %}
	<style media="screen">
		h1 {
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			text-align: center;
		}
		.cool-class-name {
			color: var(--error-red);
		}
		.form-container {
			margin-top : 2rem;
			margin-bottom: 63rem;
			display: flex;
			justify-content: center;
		}
		
		form {
			display: flex;
			width: 75%;
			max-width: 540px;
			background-color: rgba(255,255,255,0.13);
			position: absolute;
			border-radius: 10px;
			backdrop-filter: blur(5px);
			border: 2px solid rgba(255,255,255,0.1);
			box-shadow: 0 0 40px rgba(8,7,16,0.6);
			padding: 12px 25px;
			row-gap: 10px;
		}
		form * {
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			color: #ffffff;
			letter-spacing: 0.5px;
			outline: none;
			border: none;
		}
		form h3 {
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			text-align: center;
			margin-bottom:35px;
		}

		input {
			height: 50px;
			width: -moz-available;
			width: -webkit-fill-available;
			background-color: rgba(255,255,255,0.07);
			border-radius: 12px;
			padding: 0 20px 4px;
			margin-top: 12px;
			font-size: 17px;

			font-weight: 300;
		}

		.checkbox_container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.checkbox-holder {
			margin: 5px 20px;
			width: 30%;
		}

		.checkboxes {
			display : inline;
			height: 10px;
		}
		::placeholder {
			color: #e5e5e5;
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			font-size:20px;
		}
		button {
			margin-top: 19px;
			width: 44%;
			background-color: var(--red);
			color: white;
			padding: 12px 0;
			font-size: 18px;
			font-weight: 600;
			border-radius: 12px;
			cursor: pointer;
			display=inline;
			align-items:right;
			margin-right : 9px;
			margin-left : 9px;
		}
		.collasp {
			display: none;
		}
		.image-array>img {
			margin: 10px;
			width: 50px;
			height: 50px;
		}
		.image-array-heading {
			background-color: rgba(255,255,255,0.07);
			margin-top: 5px;
			width: 80%;
			padding: 10px 0px 10px 0px;
			border-radius: 12px
		}
		.profile_picture {
			height : 82px;
			border-radius : 14px;
		}

		.profile_picture:hover {
			transform : scale(1.1);
		}

		#modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.9);
		}
		
		.closespn {
			position: absolute;
			translate: 2200% -128%;
			transform: scale(3);
			font-weight: bold;
		}

		.upi_icons {
			padding-top:15px;
		}
		.icons {
			padding:0px 5px;
			border-radius :20px;
		}
		
		h4 {
			padding-top:12px;
		}

		.modalImage {
			border-radius:15px;
		}

		#images {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding : 11px 4px 0px 0px;
		}

		.image-array > .selected-image {
			margin: 1px !important;
			border: solid 4px var(--dark-red);
			width: 60px !important;
			height: 60px !important;
		}
	</style>
{% endblock %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}