{% extends '_base.njk' %}
{% import '_form.njk' as forms %}

{% set thispage = 'register' %}
{% set pagetitle = 'Register' %}
{% set pagedesc = 'Register now and join us at Manga & Anime Society Kharagpur [MASK]! site' %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block pagecontent %}
	{% call forms.form() %}
		{{ forms.heading('h1','Register') }}
		{{ forms.field('name','Name')}}
		{{ forms.field('rollno','Roll No')}}
		{{ forms.field('email','Email', type'email')}}
		{{ forms.field('phonenumber','Phone number')}}
		{{ forms.field('username','Username')}}
		{{ forms.field('password','Password', type='password')}}
		{{ forms.field('confirmpassword', 'Confirm Password', type='password')}}
		{{ forms.button('submit', 'Register') }}
		{{ forms.link('loginlink', 'Already have an acount? ', 'Login here')}}
	{% endcall %}
{% endblock %}

{% block customcss %}
	{{ forms.formCss() }}
	<style>
		{# extra css #}
	</style>
{% endblock %}

{% block customjs %}
	{{ forms.formFunction() }}
	<script>
		axios.defaults.withCredentials = true;
		axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';

		{# Other Functions #}
	</script>
{% endblock %}
