{% extends '_base.njk' %}
{% import '_form.njk' as forms %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block pagecontent %}
	{% call forms.form() %}
		{{ forms.heading('h1','Register') }}
		{{ forms.field('username','Name')}}
		{{ forms.field('password','Email')}}
		{{ forms.field('password','Phone number')}}
		{{ forms.field('password','Roll No')}}
		{{ forms.field('password','Username')}}
		{{ forms.field('password','Password')}}
		{{ forms.button('submit', 'Register') }}
	{% endcall %}
{% endblock %}

{% block customcss %}
	{{ forms.formCss() }}
	<style>
		{# extra css #}
	</style>
{% endblock %}

{% block customjs %}
	{{ forms.formFunction() }}
	<script>
		axios.defaults.withCredentials = true;
		axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';

		{# Other Functions #}
	</script>
{% endblock %}
