{% extends '_base.njk' %}
{% import '_form.njk' as forms %}

{% set thispage = 'events' %}
{% set pagetitle = 'Treasure Hunt' %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block pagecontent %}
{% if started %}
    <div class="message-cover" id="message-cover">
        {% call forms.form() %}
            <div class="message-box" id="message-box"></div>
        {% endcall %}
    </div>
    <div id="instructions" style="display: none;">
        {% call forms.form() %}
            <p> Click the button to proceed. </p>
            <button type="button" id="continue" onclick="start()">Continue</button>
        {% endcall %}
    </div>
    {{ loadingscreen('instructions') }}
    <div id="done-cover" style="display: none;">
        {% call forms.form() %}
        <div class="done-container">
            <h1 id="done" style="color:var(--red); margin-bottom: 10px;">Congratulations!</h1>
            <p style="font-size: 22px;">You have completed the treasure hunt. Head over to Gymkhana to grab your prizes!</p>
        </div>  
        {% endcall %}
    </div>

    <div id="container" style="display: none;">
        <div id="interface-container">
            <h1 class="title">Treasure Hunt</h1>
            <div class="team-info">
                <p id="team-id" style="font-size: 25px; font-weight: bold;">Team ID: <span style="font-weight: lighter;">{{ team._id }}</span></p>
                <p id="team-name" style="font-size: 25px; font-weight: bold;">Team Name: <span style="font-weight: lighter;">{{ team.name }}</span></p>
            </div>
            <div class="form-box">
                <div id="location-code">
                    {% call forms.form() %}
                    <div class="question">
                        <h3>Question</h3>
                        <p id="location-question"></p>
                    </div>
                        {{ forms.field('locationcode', 'Location Code') }}
                    <button id="location-submit-button">Submit</button>
                    {% endcall %}
                </div>
                <div id="riddle-form">
                    {% call forms.form() %}
                    <div class="question">
                        <h3>Question</h3>
                        <p id="riddle-question"></p>
                    </div>
                    {# {{ forms.field('riddleanswer','Answer') }} #}
                    <div class="item select" style="margin: 0;">
                        <label style="top: -8px;"></label>
                        <select name="riddleanswer" id="riddleanswer" style="height: 40px; font-size: 17px; font-weight: 400;"></select>
                    </div>
                    <button id="riddle-submit-button">Submit</button>
                    {% endcall %}
                </div>
            </div>
        </div>
    </div>
{% else %}
<div> Not Started </div>
{% endif %}
{% endblock %}

{% block customcss %}
<style>
    #instructions {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
    .message-cover > .form-container {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .message-cover {
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 2;
    }

    .message-box {
        margin: auto;
        width: fit-content;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
    }

    .correct {
        color: green;
        font-size: 50px;
    }

    .incorrect {
        color: red;
        font-size: 50px;
    }

    #container {
        margin: auto;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #interface-container {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .team-info {
        margin-top: 20px;
    }

    .question {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .question h3 {
        margin: 0px 0px 10px 0px;
        color: #8b0000;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #location-form {
        display: block;
    }

    #riddle-form {
        display: none;
    }

    #timeout {
        margin: 0px 20px;
        display: none;
    }

    #timeout h1 {
        color: #D61F35;
    }

    #timeout h3 {
        margin-top: 20px;
    }

    .form-box {
        margin-top: 20px;
    }

    .done-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #done-cover {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
{{ forms.formCss() }}
{% endblock %}

{% block customjs %}
{{ forms.formFunction() }}
<script>
    axios.defaults.withCredentials = true;
    axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';

    let questions = 6;
    let tries = 0;
    let attempted = 0;
    let endOfTimeout;

    let state;

    async function start() {
        document.getElementById('instructions').style.display='none'
        document.getElementById('container').style.display='block'
        await renderForm();
    }

	async function getRiddleQuestion () {
		return (await axios.post('/live/get-riddle-question')).data;
	}

    async function getLocationQuestion () {
        return (await axios.post('/live/get-location-question')).data;
    }

    async function renderForm() {
        console.log(state);
        const locationCode = document.getElementById('location-code');
        const riddleForm = document.getElementById('riddle-form');
        const messageBox = document.getElementById("message-box");
        const messageCover = document.getElementById("message-cover");
        const countdown = document.getElementById("countdown");
        const interfaceContainer = document.getElementById('interface-container');
        
        locationCode.style.display = state === 'location-code' ? 'block' : 'none';
        riddleForm.style.display = ['riddle-question', 'riddle-timeout'].find((e) => e === state) ? 'block' : 'none';
        messageBox.innerHTML = '';
        messageCover.style.display = 'none';
            if (state === 'completed') {
                document.getElementById('container').style.display = 'none';
                document.getElementById('done-cover').style.display = 'flex';
                document.getElementById('instructions').style.display = 'none';
            }
            if (state === 'location-code') {
                document.getElementById('location-question').textContent = await getLocationQuestion();
            } else if (state === 'riddle-question') {
                const riddleQuestion = await getRiddleQuestion();
                console.log(riddleQuestion);
                if (riddleQuestion) {
                    document.getElementById('riddle-question').textContent = riddleQuestion.question;
                }
                document.getElementById('riddleanswer').innerHTML = '<option value="" selected disabled hidden>Choose an answer</option>' + riddleQuestion.keywords.map((keyword, index) => {
                    return `<option value="${ index }">${ keyword }</option>`
                }).join(' ')
            } else if (state === 'riddle-timeout') {
                return await timeout();
            }
        }

    const timeout = async () => {
        const countdown = document.getElementById("countdown");
        const timeoutContainer = document.getElementById('timeout');
        const interfaceContainer = document.getElementById('interface-container');
        const messageBox = document.getElementById("message-box");
        const messageCover = document.getElementById("message-cover");
        const locationCode = document.getElementById('location-code');
        const riddleForm = document.getElementById('riddle-form');
        const locationButton = document.getElementById('location-submit-button');
        const riddleButton = document.getElementById('riddle-submit-button');
        const countdownHeader = document.getElementById('countdown-header');

        const riddleQuestion = await getRiddleQuestion();
        console.log(riddleQuestion);
        if (riddleQuestion) {
            document.getElementById('riddle-question').textContent = riddleQuestion.question;
        }
        riddleButton.disabled = true;
        document.getElementById('riddleanswer').innerHTML = '<option value="" selected disabled hidden>Choose an answer</option>' + riddleQuestion.keywords.map((keyword, index) => {
                    return `<option value="${ index }">${ keyword }</option>`
        }).join(' ')

        riddleForm.style.display = 'block';
        let timeleft = Math.floor((new Date(endOfTimeout) - Date.now())/1000);
        const countdownInterval = setInterval(async () => {
            if (timeleft <= 0) {
                clearInterval(countdownInterval);
                state = 'riddle-question';
                riddleButton.textContent = 'Submit';
                riddleButton.disabled = false;
                await renderForm();
            } else {
                const minutes = Math.floor(timeleft / 60);
                const seconds = timeleft % 60;
                riddleButton.textContent = "Please wait " + (minutes === 0 ? "" : minutes + " min ") + (seconds === 0 ? "" : seconds + " seconds");
                timeleft -= 1;
            }
        }, 1000);
    }
    

    document.addEventListener("DOMContentLoaded", async function () {
        //loadingAnimation();
        document.getElementById("location-submit-button").addEventListener("click", async function (event) {
            event.preventDefault();
            await submit();
        });
        document.getElementById("riddle-submit-button").addEventListener("click", async function (event) {
            event.preventDefault();
            await submit();
        });
        if (localStorage.getItem('encountered-error')) {
            const p = document.querySelector('#instructions p');
            p.innerHTML = 'You a-hole. You ruined our sleep goddamnit!!! <br> Hit the goddamn button before we smack the shit out of you. (Trust us, we know)';
            localStorage.removeItem('encountered-error');
        }

        document.getElementById('continue').textContent = 'Continue'
        
		const response = await axios.post('/live/get-data', {teamID: {{ team._id }}});
        if (response.data.status === "riddle-timeout") {
            state = response.data.status;
            attempted = response.data.questionsAttempted;
            endOfTimeout = response.data.timeout;
            await timeout();
        }
        else{
            state = response.data.status;
            attempted = response.data.questionsAttempted;
            endOfTimeout = response.data.timeout;
            await renderForm();
        }
    });

    async function submit() {
        const data = getData();
        console.log(data);
        console.log(state);
        console.log(attempted);
        try {
            const response = await axios.post('/live/submit', {state: state, answer: state === 'location-code'? data.locationcode : data.riddleanswer, questionNo: attempted});
            if (state === 'location-code') {
                const locationButton = document.getElementById('location-submit-button');
                locationButton.disabled = true;
                const messageBox = document.getElementById("message-box");
                messageBox.innerHTML = '<h2 class="correct">Correct Location!</h2>';
                const messageCover = document.getElementById("message-cover");
                messageCover.style.display = 'block';
                state = 'riddle-question';
                setTimeout(async () => {
                    messageCover.style.display = "none";
                    locationButton.disabled = false;
                    await renderForm();
                }, 2000);
            }
            else {
                const riddleButton = document.getElementById('riddle-submit-button');
                riddleButton.disabled = true;
                const messageBox = document.getElementById("message-box");
                messageBox.innerHTML = '<h2 class="correct">Correct Answer!</h2>';
                const messageCover = document.getElementById("message-cover");
                messageCover.style.display = 'block';
                state = 'location-code';
                attempted++;
                setTimeout(async () => {
                    messageCover.style.display = "none";
                    document.getElementById('locationcode').value= '';
                    riddleButton.disabled = false;
                    await renderForm();
                }, 5000);
            }
        }
        catch ( e ) {
            if ( e.response.status === 418 ) {
                const riddleButton = document.getElementById('riddle-submit-button');
                riddleButton.disabled = true;
                const messageBox = document.getElementById("message-box");
                messageBox.innerHTML = '<h2 class="correct">Correct Answer!</h2>';
                const messageCover = document.getElementById("message-cover");
                messageCover.style.display = 'block';
                state = 'location-code';
                attempted++;
                setTimeout(async () => {
                    messageCover.style.display = "none";
                    state='completed';
                    document.getElementById('container').style.display = 'none';
                    document.getElementById('done-cover').style.display = 'flex';
                }, 5000);
            }
            else if ( e.response.status === 420 ) {
                localStorage.setItem('encountered-error', true);
                location.reload();
            }
            else if ( e.response.status === 469 ) {
                if ( state === 'location-code' ) {
                    const locationButton = document.getElementById('location-submit-button');
                    locationButton.disabled = true;
                    const messageBox = document.getElementById("message-box");
                    messageBox.innerHTML = '<h2 class="incorrect">Incorrect Location Code!</h2>';
                    const messageCover = document.getElementById("message-cover");
                    messageCover.style.display = 'block';
                    setTimeout(() => {
                        messageCover.style.display = "none";
                        locationButton.disabled = false;
                    }, 2000);
                }
                else if ( state === 'riddle-question' ) {
                    endOfTimeout = new Date(Date.now() + 120 * 1000);
                    const riddleButton = document.getElementById('riddle-submit-button');
                    riddleButton.disabled = true;
                    const messageBox = document.getElementById("message-box");
                    messageBox.innerHTML = '<h2 class="incorrect">Incorrect Answer!</h2>';
                    const messageCover = document.getElementById("message-cover");
                    messageCover.style.display = 'block';
                    state = 'riddle-timeout';
                    setTimeout(async () => {
                        messageCover.style.display = "none";
                        riddleButton.disabled = false;
                        await renderForm();
                    }, 5000);
                }
            }
        }
    }
</script>
{% endblock %}