{% extends "_base.njk" %}

{% set thispage = 'live' %}
{% set pagetitle = 'Live Quiz' %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block pagecontent %}
	<div class="container">
		<div class="timer">
			<button id="startQuiz" onclick="startQuiz()">Start Quiz</button>
		</div>
		<div class="buttons">
			<div class="prevQ">
				<button onclick="prevQ()" id="prevQ">Previous Question</button>
			</div>
			<div>
				<button onclick="startQ()" id="startQ">Start Question</button>
			</div>
			<div class="nextQ">
				<button onclick="nextQ()" id="nextQ">Next Question</button>
			</div>
		</div>
		<div class="questions-container">
			{% for q in qAmt %}
				<div id="qbox-{{ q }}" style="display:none;">
					<h3>{{ questions[q].question }}</h3>
					<h4>{{ questions[q].type }}</h3>
				</div>
			{% endfor %}
		</div>
		<div class="end-button">
			<button onclick="endQuiz()">End Quiz</button>
		</div>
	</div> 
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="/assets/styles/icons.css"/>
	<style>
		.prevQ {
			display: inline-flex;
			justify-content: left;
		}
		.nextQ {
			display: inline-flex;
			justify-content: right;
		}
		.container {
			width: 80%;
			margin: auto;
			border: solid;
		}
		button.rel {
			width: 100px;
			height: 30px;
			background-color: var(--gray);
			color: var(--off-white);
			border: 2px solid var(--ghost-gray);
			border-radius: 5px;
			cursor: pointer;
		}
		button.rel:disabled {
			background-color: var(--tinted-gray);
			border: 1px solid var(--gray);
			color: var(--ghost-gray);
			cursor: default;
		}
		button.rel:not(:disabled):hover {
			background-color: var(--middle-gray);
		}
		h3 {
			margin: 10px;
		}
		.option {
			margin: 8px;
		}
		.option-image {
			margin: 10px;
		}
		.question-box {
			border-radius: 10px;
			background: rgba(0, 0, 0, 0.5);
			padding: 25px;
		}
		button.disabled {
			width: 0px;
			height: 0px;
		}
		button.enabled {
			width: 100px;
			height: 30px;
			background-color: var(--gray);
			color: var(--off-white);
			border: 2px solid var(--ghost-gray);
			border-radius: 5px;
			cursor: pointer;
		}
		button.enabled:hover {
			background-color: var(--middle-gray);
		}
		button.start {}
	</style>
{% endblock %}

{% block customjs %}
	<script>
		axios.defaults.withCredentials = true;
		axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';

		let timeLeft = 0;
		let currentQues = 0;

		function startQuiz () {
			//axios.post('/start', "start");
			document.getElementById('startQuiz').style = 'display:none;';
		}

		async function startQ (time = 20) {
			await axios.post('/live/startQ', { questionNumber: currentQues});
			document.getElementById('startQ').disabled = true;
			timeLeft = time;
			while(timeLeft>0){
				await new Promise((resolve) => setTimeout(resolve, 1000));
				displayTime(--timeLeft);
			}
			document.getElementById('startQ').innerHTML = 'Time Ended';
		}

		function displayTime (timeLeft) {
			document.getElementById('startQ').innerHTML = timeLeft;
		}

		function nextQ () {
			
		}

		window.onload = () => {
			startButton = document.getElementById('startQ');
			nextButton = document.getElementById('nextQ');
			prevButton = document.getElementById('prevQ');
			document.getElementById('qbox-1').style.display = 'block';
			currentQues = 0;
		}

	</script>
{% endblock %}