{% extends '_base.njk' %}

{% set thispage = 'events' %}
{% set pagetitle = 'Live Quiz' %}

{% block pagecontent %}
	<div class="container">
		<fieldset class="question">
			<legend id="info">&nbsp;&nbsp;Waiting for question&nbsp;&nbsp;</legend>
			<div class="question-container">
				<div class="answers"></div>
			</div>
			<button onclick="submit()">Submit</button>
		</fieldset>
	</div>
{% endblock %}

{% block customcss %}
	<style>

	</style>
{% endblock %}

{% block customjs %}
	<script>
		let quesCounter = 1;

		function showQuestion() {
			document.getElementById('question-no').innerHTML = `&nbsp;&nbsp;Question #${quesCounter}&nbsp;&nbsp;`;
			document.getElementsByClassName('question-text')[0].innerHTML = 
			const div = document.createElement('div');
		}

		async function submit() {
			const submitted = '';
			const response = await axios.post('/live/submit', {submitted});
		}

		socket.on('question', req => {
			showQuestion()
		});
		
		// QUestion submit, a bit done
		// Fetch new question
		// Check for quiz end
		// make hmtl on fetching new questions
		// save user submitted responses
	</script>
{% endblock %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}
