{% extends '_base.njk' %}

{% set thispage = 'events' %}
{% set pagetitle = 'Wrong Answer' %}

{% block pagecontent %}
    <div class="container">
        <div class="timeout">
            <h1>Wrong Answer!</h1>
            <h3 id="countdown-header">Try again in <span id="countdown">2 mins</span></h3>
        </div>
    </div>
{% endblock %}

{% block customcss %}
    <style>
        .container {
            margin: auto;
            width : 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .timeout {
            margin: 0px 20px;
        }

        .timeout h1 {
            color: #D61F35;
        }
    </style>
{% endblock %}

{% block customjs %}
    <script>
        var timeleft = 120;
        var downloadTimer = setInterval( function() {
            timeleft--;
            document.getElementById("countdown").textContent = (Math.floor(timeleft/60) === 0 ? "": Math.floor(timeleft/60) + " min ") + (timeleft%60) + (timeleft%60 === 0 ? "" : " s");
            if(timeleft <= 0)
                clearInterval(downloadTimer);
        }, 1000);
            

        setTimeout(function() {
            window.location.href = '/live';
        }, 120000);
    </script>
{% endblock %}